.card-detail {
    display: flex;
    flex-direction: column;
    gap: 3rem;
    margin: 3rem 0;
}

.card-detail img {
    width: 100%;
}

@media (min-width: 600px) {
    .card-detail { 
        flex-direction: row;
        justify-content: space-evenly;
        align-items: center;
    }

    .card-detail img {
        width: 300px;
    }
}

@media (min-width: 991px) {
    .card-detail {
        grid-template-columns: 30% 70%;
    }
}

.card-detail-info h2,
.card-detail-info h3 {
    font-weight: bold;
}

.card-detail-info h2 {
    margin-bottom: 3rem;
    font-size: 3rem;
    text-align: center;
}